{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "nama-project-firebase-anda",
    "storage_bucket": "nama-project-firebase-anda.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.gopret.mindsafe"
        }
      },
      "oauth_client": [
        {
          "client_id": "000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.gopret.mindsafe",
            "certificate_hash": "0000000000000000000000000000000000000000"
          }
        }
      ],
      "api_key": [
        {
          "current_key": "GANTI_DENGAN_API_KEY_ANDA"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
